/* -----------------navbar------------------------ */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

nav{
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.nav--img{
    margin: 1rem 1.5rem;
    width: 82.02px;
    height: 25.35px;
}

/* -----------------navbar------------------------ */


/* --------------------hero------------------------ */
.hero--img-wrapper{
    display: flex;
    justify-content: center;
    
}

.hero--image{
    margin: 2rem 0;
    max-width: 700px;
}

.hero--wrapper{
    padding: 0 2rem;
    margin: 4rem 0;
    margin-bottom: 6rem;
}

.hero--wrapper > h1{
    font-size: 72px;
    margin-top: 4rem;
}
/* --------------------hero------------------------ */

/* --------------------card------------------------ */

.card--content-container{
    display: flex;
    justify-content: center;
}

.card--wrapper{
    padding: 1rem;
    font-size: 12px;
}

.card--main-image{
    height: 250px;
    width: 180px;
    /* width: 100%; */
}

.card--star{
    height: 12px;
}

.card--review-count{
    color: gray;
}

.card--desc{
    font-weight: 400;
}

.card--price{
    font-weight: bold;
}
/* --------------------card------------------------ */

/* --------------------footer------------------------ */

footer{
    height: 20vh;   
}

/* --------------------footer------------------------ */

